* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Garamond, serif;
}

#root{
    display: flex;
    justify-content: center;
}

.App {
    width: 800px;
}

.post{
    display: flex;
    padding: 15px;
    border: 2px solid teal;
    margin-top: 15px;
    justify-content: space-between;
    align-items: center;
}

.sensor-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 15px;
}

.sensor-table th, .sensor-table td {
    border: 1px solid teal;
    padding: 8px;
    text-align: left;
}

.view-buttons {
    display: flex;
    justify-content: right;
    margin-bottom: 15px;
}

.view-buttons button {
    margin: 0 10px;
    padding: 8px 16px;
    background-color: teal;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

.view-buttons button:hover {
    background-color: darkcyan;
}

/*das sind zwei classen fuer zwei Knopfe oben, die Art der Liste entsprechen*/
.icon-button {
    width: 16px;
    height: 16px;
    cursor: pointer;
    background: none;
}
.list-button {
    border-radius: 25% 10%;
    display: inline-flex; 
    align-items: center;      
    justify-content: center;   
    border: none;              
    cursor: pointer;
    margin: 0 10px;
    padding: 8px 16px;
    background-color: teal;
    color: white;
}
.list-button:hover{
    background-color: darkcyan;
}
