.row {
  display: flex;
  flex-direction: row;
}

.cell {
  flex: 1;
  padding: 8px;
  text-align: left;
  overflow: hidden;
  text-overflow: ellipsis; /* Add ellipsis for overflowing text */
  white-space: nowrap; /* Prevent text wrapping */
  border: 1px solid teal; /* Only top border */
  box-sizing: border-box; /* Include borders and padding in the element's size */
}

.actions {
  border: none !important; /* Remove all borders */
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px; /* Spacing between buttons */
}
